/* Página */
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Corpo da Página "Definindo cor de fundo" */
body{
    background-color: #101728;
}
/* Logo */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
}
header .logo img{
    margin: 0 10px 0 0;
    height: auto;
    box-shadow: -10px 0 30px 2px blue, 0 -30px 30px 2px purple;
}
header .logo h3{
    color: white;
}
/* Conteudo da Página */
/* Sessão Definindo Alinhamento e Perfumarias na Aprecentação */
.inicio .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 60px 0;
}
.inicio .container img{
    width: 25%;
    border-radius: 50px;
}
.inicio .container .containerSon{
    width: 50%;
}
.inicio .container .containerSon h2{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.inicio .container .containerSon h2 span{
    color: white;
    text-shadow: 0 0 6px white;
}
/* Sessão Definindo Alinhamento, Tamanho e Perfumarias do Sobre Mim */
.sobre{
    background-color: white;
}
.sobre .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}
.sobre .container img{
    margin: 0 auto;
    width: 30%;
    border-radius: 50px;
    box-shadow: -50px 0 100px 2px blue, 0 -50px 100px 2px blue, 0 50px 100px 2px purple;
}
.sobre .container .containerSon{
    width: 60%;
}
.sobre .container .containerSon h2{
    margin: 0 0 20px 0;
    font-size: 35px;
    color: black;
    text-shadow: 0 0 6px black;
}
.sobre .container .containerSon p{
    text-align: left;
    margin: 10px 0 0 0;
    font-size: 25px;
    color: black;
}
/* Botão Voltar ao Topo da Página*/
#btnTopo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
    right: 30px;
    bottom: 30px;
    width: 70px;
    border-radius: 100%;    
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    background-color: black;
}
#btnTopo.mostrar{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
#btnTopo{
    transform: translateY(30px);
}
#btnTopo p{
    font-size: 30px;
    color: white;
}
/* :hover :active */
#btnTopo:hover{
    background-color: rgb(15, 15, 15);
}
#btnTopo:active{
    background-color: black;
}
/* Sessão Definindo Alinhamento e Perfumarias nas Seções de Serviços. Caixa Box Com Suas Cores de Sombriado Quando Passar o Cursor */
.servicos{
    padding: 50px;
}
.servicos h2{
    text-align: center;
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 6px white;
}
.servicos .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.servicos .container .styleBox{
    text-align: center;
    margin-top: 50px;
    flex-basis: 160px;
    border-radius: 10px;
}
.servicos .container .styleBox h3{
    color: white;
}
/* Espaço para os Boxs com icone */
.servicos .container .styleBox .borderBoxHTML5{
    margin: 0 0 20px 0;
    border: 5px solid rgb(255, 139, 97);
    border-radius: 30%;
}
.servicos .container .styleBox .borderBoxHTML5 .boxHTML5{
    margin: 10px;
    padding: 50px;
    border-radius: 30%;
    background-color: rgb(255, 139, 97);
}
.servicos .container .styleBox .borderBoxCSS{
    margin: 0 0 20px 0;
    border: 5px solid rgb(65, 65, 255);
    border-radius: 30%;
}
.servicos .container .styleBox .borderBoxCSS .boxCSS{
    margin: 10px;
    padding: 50px;
    border-radius: 30%;
    background-color: rgb(65, 65, 255);
}
.servicos .container .styleBox .borderBoxJS{
    margin: 0 0 20px 0;
    border: 5px solid rgb(233, 233, 56);
    border-radius: 30%;
}
.servicos .container .styleBox .borderBoxJS .boxJS{
    margin: 10px;
    padding: 50px;
    border-radius: 30%;
    background-color: rgb(233, 233, 56);
}
.servicos .container .styleBox .borderBoxBootstrap{
    margin: 0 0 20px 0;
    border: 5px solid rgb(122, 27, 122);
    border-radius: 30%;
}
.servicos .container .styleBox .borderBoxBootstrap .boxBootstrap{
    margin: 10px;
    padding: 50px;
    border-radius: 30%;
    background-color: rgb(122, 27, 122);
}
.servicos .container .styleBox .borderBoxGit{
    margin: 0 0 20px 0;
    border: 5px solid rgb(212, 64, 64);
    border-radius: 30%;
}
.servicos .container .styleBox .borderBoxGit .boxGit{
    margin: 10px;
    padding: 50px;
    border-radius: 30%;
    background-color: rgb(212, 64, 64);
}
.servicos .container .styleBox .borderBoxGithub{
    margin: 0 0 20px 0;
    border: 5px solid white;
    border-radius: 30%;
}
.servicos .container .styleBox .borderBoxGithub .boxGithub{
    margin: 10px;
    padding: 50px;
    border-radius: 30%;
    background-color: white;
}
.servicos .container .styleBox .borderBoxCanva{
    margin: 0 0 20px 0;
    border: 5px solid rgb(0, 211, 211);
    border-radius: 30%;
}
.servicos .container .styleBox .borderBoxCanva .boxCanva{
    margin: 10px;
    padding: 50px;
    border-radius: 30%;
    background-color: rgb(0, 211, 211);
}
.servicos .container .styleBox .borderBoxClickUp{
    margin: 0 0 20px 0;
    border: 5px solid rgb(255, 175, 25);
    border-radius: 30%;
}
.servicos .container .styleBox .borderBoxClickUp .boxClickUp{
    margin: 10px;
    padding: 50px;
    border-radius: 30%;
    background-color: rgb(255, 175, 25);
}
.servicos .container .styleBox .borderBoxExcel{
    margin: 0 0 20px 0;
    border: 5px solid rgb(15, 124, 15);
    border-radius: 30%;
}
.servicos .container .styleBox .borderBoxExcel .boxExcel{
    margin: 10px;
    padding: 50px;
    border-radius: 30%;
    background-color: rgb(15, 124, 15);
}
/* :hover */
.borderBoxHTML5:hover, .boxHTML5:hover{
    box-shadow: 0 0 20px 4px orangered;
}
.borderBoxCSS:hover, .boxCSS:hover{
    box-shadow: 0 0 20px 4px blue;
}
.borderBoxJS:hover, .boxJS:hover{
    box-shadow: 0 0 20px 4px yellow;
}
.borderBoxBootstrap:hover, .boxBootstrap:hover{
    box-shadow: 0 0 20px 4px purple;
}
.borderBoxGit:hover, .boxGit:hover{
    box-shadow: 0 0 20px 4px red;
}
.borderBoxGithub:hover, .boxGithub:hover{
    box-shadow: 0 0 20px 4px white;
}
.borderBoxCanva:hover, .boxCanva:hover{
    box-shadow: 0 0 20px 4px cyan;
}
.borderBoxClickUp:hover, .boxClickUp:hover{
    box-shadow: 0 0 20px 4px rgb(255, 175, 25);
}
.borderBoxExcel:hover, .boxExcel:hover{
    box-shadow: 0 0 20px 4px green;
}
.servicos .container .styleBox img{
    height: auto;
}
/* Sessão Projetos */
.projetos{
    padding: 50px;
    background-color: white;
}
.projetos h2{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: black;
    text-shadow: 0 0 6px black;
}
.projetos .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.projetos .container a{
    text-decoration: none;
}
.projetos .container .containerSon{
    text-align: center;
    margin: 40px 0 0 0;
    padding: 25px;
    width: 300px;
    border: 4px solid black;
    border-radius: 10px;
}
.projetos .container .containerSon p{
    text-align: left;
    font-size: 20px;
    color: black;
}
.projetos .container .containerSon img{
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: -5px 0 30px 2px orange, 0 -5px 30px 2px rgb(255, 227, 174);
}
/* :hover */
.projetos .container .containerSon:hover{
    box-shadow: 0 0 10px 5px black;
}
/* Sessão Definindo meu formulario com suas propriedades e suas perfumarias */
.contato{
    justify-content: space-around;
    align-items: stretch;
    padding: 50px;
}
.contato h2{
    text-align: center;
    margin: 0 0 60px 0;
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 6px white;
}
.contato .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}
.contato .container img{
    display: block;
    height: auto;
    width: 450px;
    border-radius: 80px 80px 80px 0;
    box-shadow: -50px 0 100px 2px blue, 0 -50px 100px 2px purple;
}
.contato .container form{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.contato .container form .form{
    margin-bottom: 15px;
}
.contato .container form .form label{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
}
.contato .container form .form input{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
}
.contato .container form .form textarea{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
}
.contato .container form .form input:focus{
    outline: 2px solid #00c3ff;
}
.contato .container form .form textarea:focus{
    outline: 2px solid #00c3ff;
}
.contato .container button{
    padding: 10px 60px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: black;
    color: white;
}
.contato .container button:hover{
    background-color: rgb(15, 15, 15);
}
.contato .container button:active{
    background-color: black;
}
/* Definindo alinhamento e tamanho das propriedades e suas perfumarias do footer com minhas redes sociais */
footer{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
}
footer h3{
    margin-top: 20px;
    color: #657176;
}
footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}
footer .redes a img{
    margin: 0 20px;
    height: auto;
}
/* Responsividade do Site */
/* Tablet grande / notebook pequeno */
@media (max-width: 1280px){ 
    
}
/* Tablet */
@media (max-width: 890px){
    /*  */
    .inicio .container img{
        width: 30%;
    }
    /*  */
    .sobre .container{
        padding: 60px 0 60px 0;
    }
    .sobre .container img{
        box-shadow: -50px 0 80px 2px blue, 0 -40px 100px 2px blue, 0 50px 100px 2px purple;
    }
    .sobre .container .containerSon p{
        font-size: 20px;
        margin: 0 20px 0 0;
    }
    /*  */
    .contato .container img{
        margin: 0 40px 0 0;
        height: 250px;
    }
}
/* Celular */
@media (max-width: 480px){
    /*  */
    header{
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 15px 10px;
    }
    /*  */
    .inicio .container{
        flex-direction: column;
        padding: 15px 10px;
    }
    .inicio .container .containerSon{
        width: 100%;
    }
    .inicio .container .containerSon h2{
        margin: 20px 0 20px 0;
        font-size: 25px;
        text-align: left;
    }
    .inicio .container img{
        margin: 20px 0 60px 0;
        width: 60%;
    }
    /*  */
    .sobre .container{
        flex-direction: column;
        padding: 15px 10px;
    }
    .sobre .container img{
        margin: 40px 0 40px 0;
        width: 60%;
        border-radius: 30px;
        box-shadow: -10px 0 10px 2px blue, 0 -10px 10px 2px blue, 0 10px 10px 2px purple;
    }
    .sobre .container .containerSon{
        flex-direction: column;
        width: 100%;
    }
    .sobre .container .containerSon h2{
        font-size: 30px;
    }
    .sobre .container .containerSon p{
        margin: 0 0 40px 0;
    }
    /*  */
    .servicos{
        padding: 15px 10px 50px 10px;
    }
    .servicos h2{
        margin: 40px 0 0 0;
        font-size: 25px;
    }
    /*  */
    .projetos{
        padding: 40px 10px 50px 10px;
    }
    .projetos h2{
        font-size: 30px;
    }
    .projetos .container .containerSon{
        margin: 50px 0 0 0;
    }
    /*  */
    .contato{
        padding: 40px 10px 40px 10px;
    }
    .contato h2{
        margin: 0;
        font-size: 30px;
    }
    .contato .container{
        flex-wrap: wrap;
    }
    .contato .container img{
        margin: 40px 0 40px 0;
        width: 300px;
        height: 200px;
        box-shadow: -10px 0 10px 2px blue, 0 -10px 10px 2px blue, 0 10px 10px 2px purple;
    }
    .contato .container form .form input{
        width: 90%;
    }
    .contato .container form .form textarea{
        width: 90%;
    }
}