/* Página */
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Corpo da Página "Definindo cor de fundo" */
body{
    background-color: rgba(0, 0, 0, 0.842);
}
/* Navegação da Página Mudanças do movimento do cursor. Botão menu hamburguer. E definindo posição e perfumarias */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 80px;
    border-bottom: 2px solid white;
    background-color: black;
    box-shadow: 0 0 20px white;
}
header img{
    height: 80px;
    border-radius: 100%;
}
header a{
    text-decoration: none;
}
header nav ul li{
    display: inline-block;
    margin: 5px 20px 0 0;
}
header nav ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: white;
}
header h2, span{
    text-shadow: 0 0 10px #00ffee;
}
header nav ul li a:hover{
    color: #00ffee;
}
header nav ul li a:active{
    border-bottom: none;
    color: white;
}
.menuBtn{
    display: none;
    cursor: pointer;
    font-size: 40px;
    color: white;
}
.menuBtn ion-icon{
    color: white;
}
/* Conteudo da Página */
/* Definindo Alinhamento e Perfumarias na Aprecentação */
.inicio .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    border-bottom: solid 40px white;
}
.inicio .container .containerSon{
    width: 50%;
}
.inicio h2{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.inicio h2 span{
    color: #00ffee;
}
.inicio .containerSon p{
    margin-top: 20px;
}
.inicio .container img{
    width: 25%;
    border-radius: 50px;
}
.inicio .container img:hover{
    box-shadow: 5px 5px 5px 5px white;
}
/* Definindo Alinhamento, Tamnaho e Perfumarias no Sobre Mim */
.sobre .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    border-bottom: solid 40px white;
}
.sobre .container .containerSon{
    width: 60%;
}
.sobre .container .containerSon h2{
    margin: 0 0 20px 0;
    font-size: 35px;
    font-weight: 600;
    color: #00ffee;
}
.sobre .container .containerSon p{
    text-align: justify;
    margin: 10px 0 0 0;
    font-size: 25px;
    color: white;
}
.sobre .container img{
    margin: 0 auto;
    width: 30%;
    border-radius: 50px;
    background-color: white;
}
.sobre .container img:hover{
    box-shadow: -5px 5px 5px 5px white;
}
/* Botão Voltar ao Topo da Página*/
#btnTopo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: pointer;
    right: 30px;
    bottom: 30px;
    height: 60px;
    width: 100px;
    border: solid 2px white;
    border-radius: 100%;    
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    background-color: #00ffee;
    box-shadow: 0 0 10px 0 white;
}
#btnTopo img{
    height: 40px;
}
#btnTopo.mostrar{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
#btnTopo{
    transform: translateY(30px);
}
#btnTopo:active{
    border: solid 2px black;
    background-color: #abfff9;
}
/* Definindo Alinhamento e Perfumarias nas Seções de Serviços. Caixa Box Com Suas Cores de Sombriado Quando Passar o Cursor */
.servicos{
    padding: 50px;
    border-bottom: solid 40px white;
}
.servicos h2{
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    color: #00ffee;
}
.servicos .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.servicos .container .styleBox{
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    flex-basis: 160px;
    border: 4px solid #00ffee;  
    border-radius: 10px;
    background-color: white;
}
h3{
    font-size: 25px;
    font-weight: 400;
    color: #00ffee;
}
.servicos .container .styleBox h3{
    color: black;
}
.servicos .container .styleBox .html{
    color: orange;
}
.servicos .container .styleBox .css{
    color: rgba(0, 162, 255, 0.945);
}
.servicos .container .styleBox .js{
    color: #f0db4f;
}
.servicos .container .styleBox img{
    height: 70px;
}
.servicos .container .boxHTML5:hover{
    box-shadow: 1px 1px 5px 8px orange;
}
.servicos .container .boxCSS:hover{
    box-shadow: 1px 1px 5px 8px rgba(0, 162, 255, 0.945);
}
.servicos .container .boxJavascript:hover{
    box-shadow: 1px 1px 5px 8px yellow;
}
.servicos .container .boxBootstrap:hover{
    box-shadow: 1px 1px 5px 8px purple;
}
.servicos .container .boxGithub:hover{
    box-shadow: 1px 1px 5px 8px black;
}
.servicos .container .boxCanva:hover{
    box-shadow: 1px 1px 5px 8px rgba(0, 162, 255, 0.945);
}
ion-icon{
    font-size: 80px;
    color: #00c3ff;
}
/* projetos */
.projetos{
    padding: 50px;
    border-bottom: solid 40px white;
}
.projetos h2{
    text-align: center;
    margin-bottom: 100px;
    font-size: 35px;
    font-weight: 600;
    color: #00ffee;
}
.projetos .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.projetos .container .containerSon{
    text-align: center;
    padding: 25px;
    width: 300px;
    border: 4px solid white;
    border-radius: 10px;
    
}
.projetos .container .containerSon p{
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
.projetos .container .containerSon img{
    margin: 20px auto;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
}
.projetos .container .containerSon a{
    padding: 10px;
    border: solid 1px rgb(255, 200, 98);
    border-radius: 8px;
    text-decoration: none;
    background-color: orange;
    color: white;
}
.projetos .container .containerSon:hover{
    box-shadow: 1px 1px 5px 8px #00ffee;
}
.projetos .container .containerSon a:hover{
    border: solid 1px orange;
    background-color: rgb(255, 200, 98);
}
.projetos .container .containerSon a:active{
    border: solid 1px rgb(255, 200, 98);
    background-color: orange;
    color: black;
}
/* Definindo meu formulario com suas propriedades e suas perfumarias */
.contato{
    justify-content: space-around;
    align-items: stretch;
    padding: 50px;
}
.contato h2{
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    color: #00ffee;
}
.contato .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}
.contato .container img{
    display: block;
    height: auto;
    width: 450px;
    border: solid 5px white;
    border-radius: 80px 80px 80px 0;
}
.contato .container img:hover{
    box-shadow: 5px 5px 5px 5px #00ffee;
}
.contato .container form{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.contato .container form div{
    margin-bottom: 15px;
}
.contato .container input{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
}
.contato .container label{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
}
.contato .container textarea{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
}
.contato .container input:focus{
    outline: 2px solid #00c3ff;
}
.contato .container textarea:focus{
    outline: 2px solid #00c3ff;
}
.contato .container button{
    margin-top: 20px;
    padding: 10px 60px;
    border-radius: 10px;
    font-size: 25;
    font-weight: bold;
    background-color: #00c3ff;
    color: white;
}
.contato .container button:hover{
    background-color: #00ffee;
}
.contato .container button:active{
    background-color: #00c3ff;
}
/* Definindo alinhamento e tamanho das propriedades e suas perfumarias do footer com minhas redes sociais */
footer{
    display: inline-block;
    text-align: center;
    width: 100%;
    border-top: 3px solid white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 20px white;
    background-color: black;
}
footer h3{
    margin-top: 20px;
}
footer ul li{
    display: inline-block;
    margin: 20px 40px;
}
footer ul li a{
    text-decoration: none;
}
footer ul li a ion-icon{
    font-size: 40px;
    background-color: white;
}
footer ul li .logoFacebook ion-icon{
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgb(0, 153, 255);
    color: rgb(0, 153, 255);
}
footer ul li .logoInstagram ion-icon{
    border-radius: 5px;
    box-shadow: 0 0 5px 4px orange;
    color: orange;
}
footer ul li .logoLinkedin ion-icon{
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgb(0, 225, 255);
    color: rgb(0, 225, 255);
}
footer ul li .logoFacebook ion-icon:active{
    box-shadow: none;
    color: #67dcff;
}
footer ul li .logoInstagram ion-icon:active{
    box-shadow: none;
    color: #67dcff;
}
footer ul li .logoLinkedin ion-icon:active{
    box-shadow: none;
    color: #67dcff;
}
/* Responsividade do Site */
/* Tablet grande / notebook pequeno */
@media (max-width: 1280px){ 
    
}
/* Tablet */
@media (max-width: 890px){
    .inicio h1{
        font-size: 40px;
    }
    .inicio h2{
        font-size: 30px;
    }
    .inicio .container img{
        width: 30%;
    }
    /*  */
    .sobre .container .containerSon h2{
        font-size: 30px;
    }
    .sobre .container .containerSon p{
        font-size: 20px;
    }
    /*  */
    .contato h2{
        margin-bottom: 50px;
    }
    .contato .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato .container img{
        margin: 0 40px 0 0;
        height: 250px;
    }
}
/* Celular */
@media (max-width: 480px){
    /*  */
    header {
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 15px 10px;
    }
    header h2{
        font-size: 25px;
        color: white;
    }
    header h2, span{
        text-shadow: 0 0 10px #00ffee;
    }
    .menuBtn{
        display: block;
        z-index: 1000;
    }
    nav.navbar{
        position: absolute;
        top: 100px;
        right: 0;
        background-color: black;
        width: 100%;
        display: none;
        text-align: center;
        padding: 20px 0;
        border-bottom: 2px solid white;
    }
    nav.navbar.active{
        display: block;
    }
    nav.navbar ul li{
        display: block;
        margin: 20px 0;
    }
    header nav ul li a{
        text-decoration: underline;
    }
    /*  */
    .inicio .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: justify;
        padding: 15px 10px;
        border-bottom: solid 20px white;
    }
    .inicio .container .containerSon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .inicio .container .containerSon h2{
        margin: 20px 0 20px 0;
        text-align: center;
        color: white;
    }
    .inicio .container img{
        margin: 20px 0 40px 0;
        width: 60%;
        border-radius: 30px;
    }
    .inicio .container img:hover{
        box-shadow: 1px 1px 5px 8px white;
    }
    /*  */
    .sobre .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px 10px;
        border-bottom: solid 20px white;
    }
    .sobre .container .containerSon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .sobre .container img{
        margin: 20px 0 40px 0;
        width: 60%;
        border-radius: 30px;
    }
    .sobre .container img:hover{
        box-shadow: 1px 1px 5px 8px white;
    }
    .sobre .container .containerSon p{
        margin: 0 0 40px 0;
    }
    /*  */
    #btnTopo{
        right: 10px;
        bottom: 100px;
    }
    /*  */
    .servicos{
        padding: 40px 10px 40px 10px;
        border-bottom: solid 20px white;
    }
    .servicos h2{
        margin: 0 0 0 0;
    }
    /*  */
    .projetos{
        padding: 40px 10px 40px 10px;
        border-bottom: solid 20px white;
    }
    .projetos h2{
        margin: 0 0 0 0;
    }
    .projetos .container .containerSon{
        margin: 50px 0 0 0;
    }
    /*  */
    .contato{
        justify-content: center;
        align-items: center;
        padding: 40px 10px 40px 10px;
    }
    .contato h2{
        margin: 0 0 0 0;
    }
    .contato .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: none;
    }
    .contato .container img{
        margin: 40px 0 20px 0;
        width: 300px;
        height: 200px;
    }
    .contato .container input{
        width: 90%;
    }
    .contato .container textarea{
        width: 90%;
    }
}